@media (max-width: 425px){
    header{
        display: inline;
        align-items: start;
        .logo{
            img{
                align-items: end;
                float: left;
            }
        }
        .navbar{
            padding: .9375rem;
            div{
                button{
                    align-content: end;
                    align-items: end;
                    float: right;
                }
                div{
                    ul{
                        li{
                            height: 1.875rem;
                        }
                    }
                }
            }
        }
    }
    .main-pf{
        .bannerPreguntas{
            height: 18.75rem;
            h1{
                font-size: 2.8125rem;
                font-weight: 600;
                line-height: 4.375rem;
                height: 18.75rem;
                padding-top: 4.6875rem;
                padding-bottom: 4.6875rem;
            }
        }
        .seccionPreguntas{
            height: 85rem;
            details{
                width: 100%;
                margin: 0px;
                padding: 5px;
                img{
                    width: 28px;
                }
                summary{
                    h2{
                        font-size: 1.5rem;
                        letter-spacing: .156rem;
                        word-spacing: .156rem;
                    }
                    p{
                        font-size: 1rem;
                        letter-spacing: .156rem;
                        word-spacing: .156rem;
                    }
                }
            }
        }
    }
    footer{
        flex-direction: column;
        .ubicacion{
            padding: .3125rem;
            font-weight: 300;
        }
        .title{
            padding: .625rem;
        }
        .contacto{
            font-weight: 300;
        }
        .redes{
            padding: .9375rem;
        }
    }
}
